input, button {
    margin-bottom: 20px;
}

a {
    margin-right: 20px;
}

.flex-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.create-log-record {
    margin-right: 40px;
}

.input-label {
    margin-right: 5px;
}
