input, button {
    margin-bottom: 20px;
}

a {
    margin-right: 20px;
}

.flex-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.create-log-record {
    margin-right: 40px;
}

.input-label {
    margin-right: 5px;
    margin-left: 5px;
}

.number-input {
    max-width: 50px;
}

.meal-option {
    padding-left: 20px;
}

.food-option {
    padding-left: 40px;
}

.remove-link {
    padding-left: 10px;
}
