body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  padding: 50px 100px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.side-nav {
  background: #696969;
}
